<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chibbis.f_splash">

    <application>
        <activity
            android:name="com.chibbis.f_splash.SplashActivityView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
